Certificate Verification Fails

## Describe the bug

I am generating the QR Code using the WEB frontend template application.
Upon scanning the QR Code with the Verifier App, I am consistently getting an error "Verification failed: failed to load certificate"

## Expected behaviour

Verification should be successfull.


## Steps to reproduce the issue

1) Installed DGC Issuer Service, DGC Verifier Service.
2) Uploaded all required certificates, including the signed DSC and configured them accordingly in the services layer.
3) Modified the BASE_URL in the Android application : File: NetworkModule.kt as to point to my verifier service
4) Compiled and run on Android
5) Scan the QR Code as generated by the Web Frontend Template application
6) Displays invalid on screen, and Android Studio Logs shows 
`D/VerificationViewModel$decode: Verification failed: failed to load certificate`

Upon some debugging, I have found a discrepancy which might/might not be the cause of the invalid result.

In the file: VerificationViewModel.kt 

Notice the 2 bold Debug Lines I've added.

```
                schemaValidator.validate(coseData.cbor, verificationResult)
                greenCertificate = cborService.decode(coseData.cbor, verificationResult)
                **Timber.d("DEBUG Verification Result: %s", verificationResult)**
                val certificate = verifierRepository.getCertificate(kid.toBase64())
                **Timber.d("DEBUG KID: %s" ,kid.toBase64())**
                if (certificate == null) {
                    Timber.d("Verification failed: failed to load certificate")
                    return@withContext
                }
```

and their output:

```
D/VerificationViewModel$decode: DEBUG Verification Result: VerificationResult: 
    base45Decoded: true 
    valSuitePrefix: HC1: 
    zlibDecoded: true 
    coseVerified: false 
    cborDecoded: true 
    isSchemaValid: true
```

`D/VerificationViewModel$decode: DEBUG KID: 2Ga7nn3--CU=`

Firstly, notice that **coseVerified = false** , Looking into the android core library, file: DefaultCoseSerivce.kt, I noticed that the verificationResult.Verified is hard coded to false, without any opporunity to set it to true within the decode function

```
    override fun decode(input: ByteArray, verificationResult: VerificationResult): CoseData? {
        **verificationResult.coseVerified = false**
        return try {
            val messageObject = CBORObject.DecodeFromBytes(input)
            val content = messageObject[2].GetByteString()
            val rgbProtected = messageObject[0].GetByteString()
            val key = HeaderKeys.KID.AsCBOR()
            var kid = CBORObject.DecodeFromBytes(rgbProtected).get(key)
            // Kid in unprotected header
            if (kid == null) {
                kid = messageObject[1].get(key)
            }
            val kidByteString = kid.GetByteString()
            CoseData(content, kidByteString)

        } catch (e: Throwable) {
            null
        }
    }
```

Secondly ,the KID

I have noticed that the KID is presented in the debug log as follows: 
`2Ga7nn3--CU=`

however, in the verifier service, it's presented like this:
`2Ga7nn3++CU=`

notice the "--" vs "++" difference.

and for completeness sake, the DSC follows:
```
	{
		"kid": "2Ga7nn3++CU=",
		"timestamp": "2021-05-12T12:28:38+02:00",
		"country": "CY",
		"certificateType": "DSC",
		"thumbprint": "d866bb9e7dfef8255345678cb5722057084424331c7efd8c0eced9b52739c09f",
		"signature": "MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgEFADCABgkqhkiG9w0BBwEAAKCAMIICbDCCAhKgAwIBAgIURWuo6N0RLfrkJ/DaZO0KYr6fRu0wCgYIKoZIzj0EAwIwgZMxCzAJBgNVBAYTAkNZMRAwDgYDVQQIDAdOaWNvc2lhMRAwDgYDVQQHDAdOaWNvc2lhMS0wKwYDVQQKDCROYXRpb25hbCBlSGVhbHRoIEF1dGhvcml0eSBvZiBDeXBydXMxFjAUBgNVBAsMDUlUIERlcGFydG1lbnQxGTAXBgNVBAMMEFVQTE9BRF9ER0NfQ1lfMDEwHhcNMjEwNTEwMDcwMzI3WhcNMjMwNTEwMDcwMzI3WjCBkzELMAkGA1UEBhMCQ1kxEDAOBgNVBAgMB05pY29zaWExEDAOBgNVBAcMB05pY29zaWExLTArBgNVBAoMJE5hdGlvbmFsIGVIZWFsdGggQXV0aG9yaXR5IG9mIEN5cHJ1czEWMBQGA1UECwwNSVQgRGVwYXJ0bWVudDEZMBcGA1UEAwwQVVBMT0FEX0RHQ19DWV8wMTBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABCFf0s8yXh7oSXaZKrGFEp8M6Jf8r/EjgLtNmZ07wJuCYDtnlDSJme43ERrsC5gzGQ491N5kPT65vDl1qylqO7GjQjBAMA8GA1UdEwEB/wQFMAMCAQAwDgYDVR0PAQH/BAQDAgeAMB0GA1UdDgQWBBQ/y+7LCYF6CqZGkM/ecYc10XB14zAKBggqhkjOPQQDAgNIADBFAiB+N59qtZwkqmWc/3Dl5gZMpbVrr8+u0+FY9MEQgBUsDAIhAL+NzoJpvG+waRjAN2eZ7d+TB6OlhuRrPp2Ed1LN94iWAAAxggH+MIIB+gIBATCBrDCBkzELMAkGA1UEBhMCQ1kxEDAOBgNVBAgMB05pY29zaWExEDAOBgNVBAcMB05pY29zaWExLTArBgNVBAoMJE5hdGlvbmFsIGVIZWFsdGggQXV0aG9yaXR5IG9mIEN5cHJ1czEWMBQGA1UECwwNSVQgRGVwYXJ0bWVudDEZMBcGA1UEAwwQVVBMT0FEX0RHQ19DWV8wMQIURWuo6N0RLfrkJ/DaZO0KYr6fRu0wCwYJYIZIAWUDBAIBoIHkMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTIxMDUxMjEwMjQ1N1owLwYJKoZIhvcNAQkEMSIEINhmu559/vglU0VnjLVyIFcIRCQzHH79jA7O2bUnOcCfMHkGCSqGSIb3DQEJDzFsMGowCwYJYIZIAWUDBAEqMAsGCWCGSAFlAwQBFjALBglghkgBZQMEAQIwCgYIKoZIhvcNAwcwDgYIKoZIhvcNAwICAgCAMA0GCCqGSIb3DQMCAgFAMAcGBSsOAwIHMA0GCCqGSIb3DQMCAgEoMAoGCCqGSM49BAMCBEYwRAIgCb+nI9Prsvylmsmdfn8n2ySopLnCVLbKd38900PZO/MCIHF2lA4OEyFBiCoHqzW8pY5a7FaSi8ZMzcOKh3bGgdjEAAAAAAAA",
		"rawData": "MIICHjCCAcQCFDtxKq28G7KiGukkC62ELU4BBvBbMAoGCCqGSM49BAMCMIGRMQswCQYDVQQGEwJDWTEQMA4GA1UECAwHTmljb3NpYTEQMA4GA1UEBwwHTmljb3NpYTEtMCsGA1UECgwkTmF0aW9uYWwgZUhlYWx0aCBBdXRob3JpdHkgb2YgQ3lwcnVzMRYwFAYDVQQLDA1JVCBEZXBhcnRtZW50MRcwFQYDVQQDDA5DU0NBX0RHQ19DWV8wMTAeFw0yMTA1MTIxMDIzMDZaFw0yMzA1MDIxMDIzMDZaMIGQMQswCQYDVQQGEwJDWTEQMA4GA1UECAwHTmljb3NpYTEQMA4GA1UEBwwHTmljb3NpYTEtMCsGA1UECgwkTmF0aW9uYWwgZUhlYWx0aCBBdXRob3JpdHkgb2YgQ3lwcnVzMRYwFAYDVQQLDA1JVCBEZXBhcnRtZW50MRYwFAYDVQQDDA1EU0NfREdDX0NZXzAxMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEPybvhD4bGNlyPCpz9aiIpnB09ceGEc4z1l5Q8CoQ3sMvXHM3n7+3zX4K7V16VNI09bH1rmCttVRtO8cN/JpG/TAKBggqhkjOPQQDAgNIADBFAiAufANVRuChmYz8oMJgjlFuNMlT3C5zys/gESMgrbdS8AIhAPLA6P1SJL7TdkbjtyRIqpvz1M+m9NJP919tcZ7xoJjP"
	},
```

## Technical details

Hosted on Kubernetes, using Nginx Ingress Reverse Proxy, Centos 7



Digging a little deeper, there is either a bug on the web that is generating the QR Code, or there is a bug with the android library that extracts or decompress CBOR.


And a lot more digging, I have found the issue!

There is an inconsistency between Base64 URL Safe Encoding and Base64 Encoding not consider URL.
When Generating the KID and it's sent to the Verification service, it's generated and Base64 Encoded (not url safe).
However, when the QR Code is presented on the Web, and on the Android App, it's Base64 Encoded URL Safe!

1) Download of the Public Certs into the Android App during First Load.

In the Android Verification App, in the following function is called.
https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/blob/743a0e8491c486cc766c532495c169b13fc63134/app/src/main/java/dgca/verifier/app/android/data/VerifierRepositoryImpl.kt#L93

The MessageDigect.toBase64() is subsequently called, which is Base64 URL Safe Encoded.
see: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/blob/743a0e8491c486cc766c532495c169b13fc63134/app/src/main/java/dgca/verifier/app/android/data/VerifierRepositoryImpl.kt#L102

Then it's compared to the responseKid when is Base64 Encoded (not url safe), and thus invalid Kid is detected!
`return responseKid == certKid`

The conversions that take place as per RFC-4648, the + and / are NOT part of the URL Safe Alphabet.
Please see
https://datatracker.ietf.org/doc/html/rfc4648#section-4
and
https://datatracker.ietf.org/doc/html/rfc4648#section-5
accordingly for reference.

I could not interpret the CBOR specification, as it allows for Both _Base64 URL Encoding_ and _Base64 Encoding_ as valid values.

I could modify the Validate Function as to generate Base64 Kid for validation which as per RFC6468 Section 4 (Base64 non-url safe) with this modification:

```
private fun isKidValid(responseKid: String?, responseStr: String): Boolean {
        if (responseKid == null) return false

        val cert = responseStr.base64ToX509Certificate() ?: return false
        val md = MessageDigest.getInstance("SHA-256")
        val digest = md.digest(cert.encoded).copyOf(8)
        val certKid: String = Base64.getEncoder().encodeToString(digest)

        return responseKid == certKid
    }
```

The second case that the QR Code scanned (as was generated from the Web) is also encoding the KID with Base64 URL Encoding.  It means that even when scanning the QR Code (even with the above change), it will still fail validation, as the KID again will be compared to a Base64 URL safe vs Base64 non-url safe...  

The complexity here comes with the CBOR Library https://github.com/peteroupc/CBOR-Java that is used when decoding the QR Code into the certificate, and inherently the KID as well.

The TLDR of it is that + and / are being compared to - and / respectively due Base64 URL Safe and Base64 URL unsafe generation of the KID.


In the TEST environment, the following records are affected:

```
	{
		"kid": "ay/QIOEYIKo=",
		"timestamp": "2021-05-05T14:42:34+02:00",
		"country": "DE",
		"certificateType": "DSC",
		"thumbprint": "6b2fd020e11820aa846698b63d8e0eb0dca2b6716e6bfa9b988ac0dacd5a6c17",
		"signature": "u4BePHJnute3pJ+A2uZ/jlyLuqO83vzwUAMVzzL6yo6Y7nqEYwFdz+1qERjC+Y3yXvf9Gni1QiBqM7O22QQ21eBbCQofaGHxdkamAI38ECT1claUSp28m27xN33OQeFv5ioKszSflrNEzHRvJxsp53Tr8hgFdn5cZqVn2vSSBGZqQwLnXpLMuiV1AabrmhEOp0Cc1Qpyd7RfAmVvy8CLAMlPLnTGONIsB9up0uYE8E2DXpLSelO6sl/khaRDKCkMvVWs9kNtEz1nBdTPQqEemwhpLdiVOIwSZFcO2Z34NGGxLRjjx7Fi5sIHW2voLxrZ9SCaW9Mi/ygbd6cAoaJeCdE1RJxs7uqlzlDgqOkEq00sSbKYubF/Ix+RRRtxSUT0SluP/DLsfWN2e09SI1GDyx4aj1gKajGo88/s39SNxkA1d0y5hh7MOu4z+C9h3LVByAquYAO43+HvVmtM35G2qIB0he+mvXcvORX8qSKIbY+JB4YdQIRkoTb58yMvvTO/bd6HF9fQCmsSuIHfXCYC4ZJyBbMvS9IJCzuiSEQva9v82bl+FmfiCJ+ufrhMPw0hEsiK8S63N5FFdGndHYHlJ6yDIuJTuA5YO8v8lJ40daas0zg0WkH+NZBwhEduARMKVgoMlHIKiMy8psKDsdn5MRR+iZOMvc0geDQuqIWaofg=",
		"rawData": "MIIEljCCAn6gAwIBAgIUAo0TOxwxRpgNFzcDRWPLP24HnWUwDQYJKoZIhvcNAQELBQAwgZgxCzAJBgNVBAYTAkRFMQ8wDQYDVQQIDAZIZXNzZW4xGjAYBgNVBAcMEUZyYW5rZnVydCBhbSBNYWluMSUwIwYDVQQKDBxULVN5c3RlbXMgSW50ZXJuYXRpb25hbCBHbWJIMRowGAYDVQQLDBFEaWdpdGFsIFNvbHV0aW9uczEZMBcGA1UEAwwQVGVzdCBUZWFtIChDU0NBKTAeFw0yMTA1MDUxMjQyMzNaFw0yMTA1MDUxMjQyNDNaMHExCzAJBgNVBAYTAkRFMR0wGwYDVQQIDBROb3RocmhpbmUgV2VzdHBoYWxpYTEOMAwGA1UEBwwFRXNzZW4xIDAeBgNVBAoMF1QtU3lzdGVtcyBJbnRlcm5hdGlvbmFsMREwDwYDVQQDDAhhcGktdGVzdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOA3frnnVmKYL3SZIJ5Ys4NmMvDE/90dB8gRIe4QxuWvV8v6Zn/qXDFsSzfHwakZgFnIJJO4LvzS0HHaMTM/kiG6pLjhOrx8IAmsBFrwDZjxRzxhSNtDHX1x4CHmANtGQXAtHq7uNeMPKsWe1G86foQw+Ti6KXZ7a7UB5NI9xi/1iN/2dJO8YFX8LfRTzsYebWtR+Zjz7M53xhvDuQdg+abafw+pd2o7jGhWI4+FMCndicf+mFPOQDZiiwTlG1bt7nphIv++hgOg190i5rONQqjVO3JMHGd5sfO59Kdlyzjm191kWw4Z1UtPqaKmlglfZeoa8GMk2Tnf2l8TuGwwWikCAwEAATANBgkqhkiG9w0BAQsFAAOCAgEAmkXRh04QY3C2uAtQw+HfTQvgZXlMJAXjEqLLQOpOQxtjA6+WxXj1km88T9ar/1rJs1/uVVr8Rfrhbu4DuVOFkiHflQ24tdMTdcqleJJp1JlONAUOCf9lxA0zIrAM+E+emfvZjfCMewVdz8MT50yKOCXS6xser1bg5OAomHIU+9b+N0xSDSzeShm5c5mSYDcCxwCidnE+rEG4pxpZdQKYKvCo6Z9fz57RN7O7FKP43wwQYeUt+yiT58zdjgmN0iuPvUGtUFyp9ztTykFZMSpS4WsjnfX6ccWuBcrPwZmGz2ugj5yH3gvT4gBVzG5+dBslg5xLyM8rRjBFluaiFKzgjbrVaeJdRe1ooBa3fmB9bDPalg5vmNySa6awqlaxWQindkgkGHSMFFI5F6KJncw2/ZfqlbXPLDyUInIjoNdkZQFGSmCHtyBNd9YQh0xqGWAHXY1fRXn6gNcKYQXOi+3heb4fnNiIwp2LQfBlfsvZya8T6A6VuypKY4ODKfJPEwm6xR+vBKBPNjqB9UVeJ+8jQdlkKnU7YR6OG9SCdEhuVrmX2ZzOBaDmrpft3FAPI4ZNbwaoyH3lfsdvafb3RsmU0zZfPQnL7fSvQMxqwS7FXF+Fian5NTRnfMt5BJ9zw02Oji3vAacxYnREEU5o3P5zF/GN6NCDm5SezwESOv7IBLs="
	},
```

```
	{
		"kid": "luDPVSB/LUQ=",
		"timestamp": "2021-05-03T17:46:22+02:00",
		"country": "DE",
		"certificateType": "DSC",
		"thumbprint": "96e0cf55207f2d44ca7bd9be5f5016e8d80ce1f54e92e45895d141abaf2e6b7d",
		"signature": "mwWmiVQi1WaZIj7y/IMleXV1kJx9nez8H1WOut+o4tyf0c34kQTQuk4Hg4enJUUC2k3NS8dAgT/7RImtYFpH3Y0AcpjQQ7ZLdxOPyBP3hEXcJnKnzaE3JldGTlH3q7AWlxRC+Dj0nlwh2yBJuB/XpLJzJPjw36ZvRxDyeCYgKau8DQQ/p9t4xiiOQFc9zojBulnca9qZwmIbnVZdmzWfk88WQ9wWWmol0YZrwjSb3e2epLtdpNxGkRIUnXl/aJo545fwU+GK6wxaS6mt9H+DLuVcuPZXv4NX/zC6AVcWaHCpWu+4Q9xW85mez4jG+ljatH+7/EQ71iBjicoFZXPu9oIivNueAvS54xuw9Z/+667VpIrPefsXPuWqvw2QGJ3q1uwsyxpQWh/vyryaw2PkFzpG07fY0SxOxA2CsErGp0xes1Q866nkXCVnS6BHsXkpgmad4N4sLT2gEOdOgDPZlOoDPhYHE+aTYcBNwv7ddAAEOpk8X4RWOyQ76EylcdoiBCgeKHcvg56ZO4pkdjkC4XGICl24eiD0JhnihLbcWlmRYJ0q+76VpAn3tpfIwI1ordNosCUSwf+YNCwTXCvHCR4udf2hdDhEKVCETMtwLhqPkjBNbZDCNzgrZDvsorYOlnKeJXR9DZtwF1s4mNe9mCap4PcixCacopSJW6yhD2A=",
		"rawData": "MIIElzCCAn+gAwIBAgIUORbgmbt0aNm3JiQxFMrrIKEygCYwDQYJKoZIhvcNAQELBQAwgZgxCzAJBgNVBAYTAkRFMQ8wDQYDVQQIDAZIZXNzZW4xGjAYBgNVBAcMEUZyYW5rZnVydCBhbSBNYWluMSUwIwYDVQQKDBxULVN5c3RlbXMgSW50ZXJuYXRpb25hbCBHbWJIMRowGAYDVQQLDBFEaWdpdGFsIFNvbHV0aW9uczEZMBcGA1UEAwwQVGVzdCBUZWFtIChDU0NBKTAeFw0yMTA1MDMxNTM1NDBaFw0yMTA1MTMxNTM1NDBaMHIxCzAJBgNVBAYTAkRFMR0wGwYDVQQIDBROb3RocmhpbmUgV2VzdHBoYWxpYTEPMA0GA1UEBwwGS29lbG4zMSAwHgYDVQQKDBdULVN5c3RlbXMgSW50ZXJuYXRpb25hbDERMA8GA1UEAwwIYXBpLXRlc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCubTwPVvqv4QkIn+RqFZMxOFv5BU6FGJ1B/aJopnEvtCuknI5rIJ5k4HhP8+ZfcxfsGFM5Dq5N3fgnkqvKCSudea569XMhuRSFzuLcvtvNAlSq5Uxfz0J66RPd8380WG8CYyc4aaL7z1f6CA8R4Kx2OiVmJA1xMqv36hSb+tfjdSccGNL2njexktUR8V9hg9d+TGusXejUNkxsC+kstwgdpvx/+teUnar6F8yt2stFZnMRN5tY9ANQN7bcXoBGeEvvhlclvVzUi+WluwU4Ytfa3Tqp0xYS3jols18VEQ99W+nwib+IGgj0f7csxT5d105VnqZI1sX/D1BqiWkPt25FAgMBAAEwDQYJKoZIhvcNAQELBQADggIBAAJ2VaSXq+4G0YqOfabKLF2AnnjQ6h5Sli4yaZ8LWeHgsbGXPgOKuuQ4TInwcyPVpkdP9XL4zqxXJzOYWtq0JklExFyHKTHBsVMjL5BPz+LxgxQHuI9sOiPpCfBaBf/SNMdhfLUsnH+pedJ8oPGAqq4CeUpl0LF1YXdHszLXo+fD5/c5HQONNm7aeBq0YLt4QWU7X29txvXvMabb/usYV2JhVuKKI8bpRwwBxs7UVPgscF9HZw0ZEBQ4ADc0DxG9JZ0hk/gG/WTuuL6VUu8fOy4s4ubKVQh4MBYUk6NjeUliG5HsFuFGFb461+j4EXrSANHgMZbtFODXPwHDlZRWXJ3kqzB4y/ANHjPZvOvAD4NaBV/Awc6ORU/5H+xhIXcSEwr7ahaiID143z6L7BttF8w0QgdeTR2OVTVvv0Ny1w+tYEFww02qMB5zYiIBOWwqWM2qwVwWsvMr3UV0Iy/1Y+HygR0FBTJlWgiqF85Y+/iUdgL3+x7X/HvwY7mti7oLlzsV3VMx+ebV8CfKxUmUjhlBuajoP11P+MwNEGg40jh6iejZe40vnxgnyOlSRVdEaYKiOhYIa89IGiBkuyh7OFaLbJFCKpQnZQbytC7GlohVOzh8b8BTClcFeGpNZozI/z2xVwu58aZDoWrSc3tmlFSlM7S5nC6qpT/ht0/TI2cF"
	},
```

```
	{
		"kid": "u5Tohz8Qb+w=",
		"timestamp": "2021-05-10T15:12:54+02:00",
		"country": "LU",
		"certificateType": "DSC",
		"thumbprint": "bb94e8873f106fecd4172614db6799975050b2d2ff0ca134ec30fae61fa23c3a",
		"signature": "MEQCIBSmbPJdNBanqoTUt2ffHpJ8u81UdMNbrL+kyIlCACy4AiBtmIly7ieKw93EFY4f6I2njICCfe75ejBxztpdV78iYg==",
		"rawData": "MIIE7jCCAqKgAwIBAgIISkqs+LMWvOkwQQYJKoZIhvcNAQEKMDSgDzANBglghkgBZQMEAgEFAKEcMBoGCSqGSIb3DQEBCDANBglghkgBZQMEAgEFAKIDAgEgMFoxCzAJBgNVBAYTAkxVMR0wGwYDVQQKDBRJTkNFUlQgcHVibGljIGFnZW5jeTEsMCoGA1UEAwwjR3JhbmQgRHVjaHkgb2YgTHV4ZW1ib3VyZyBDU0NBIFRFU1QwHhcNMjEwNTA0MTIyNjE5WhcNMjMwNTA0MTIyNjE4WjBcMQswCQYDVQQGEwJMVTEbMBkGA1UECgwSTWluaXN0cnkgb2YgSGVhbHRoMTAwLgYDVQQDDCdHcmFuZCBEdWNoeSBvZiBMdXhlbWJvdXJnIERTIERHQyBURVNUIDEwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAARG4uMaBjfLWplJHI023ITb2yayfxTnIMQlbQhtPkMUFr22nigYjjiwdNuQ2Sj92oelC1p/Hej4sLL2e8Jm1V6/o4IBFzCCARMwHwYDVR0jBBgwFoAUm6ZBIYGn0NWe0pxQwMYre7jzGJowKwYDVR0SBCQwIoEOY3NjYUBpbmNlcnQubHWkEDAOMQwwCgYDVQQHDANMVVgwKwYDVR0RBCQwIoEOY3NjYUBpbmNlcnQubHWkEDAOMQwwCgYDVQQHDANMVVgwOgYDVR0fBDMwMTAvoC2gK4YpaHR0cDovL3JlcG9zaXRvcnkuaW5jZXJ0Lmx1L2NzY2EtdGVzdC5jcmwwHQYDVR0OBBYEFH6OgJdoAHxN7V/VH+F3pVSvRYdJMCsGA1UdEAQkMCKADzIwMjEwNTA0MTIyNjE5WoEPMjAyMTEwMzExMjI2MTlaMA4GA1UdDwEB/wQEAwIHgDBBBgkqhkiG9w0BAQowNKAPMA0GCWCGSAFlAwQCAQUAoRwwGgYJKoZIhvcNAQEIMA0GCWCGSAFlAwQCAQUAogMCASADggIBAA863H8TUYFhhQqoCIybaXhxRo9j6OwBVKY7Uao5tn74DFDTS7rSoA3iX1/1zllXE7gYUfSGQnlvQaVIz6SYgXxxxlzQ5aAzz1kmbd/Iarz5xbJ7hHqVXWcy7dejElYOaywCvuI+oPfpgOjvEjz8iXiQOhqDjnwErs1Fy/kK1rVrHpyPX+wk3v6ptgds9pZaoItY14vhYDP+VIOTz6rY+1J/51KUnFORnHMWlk7Rqv2Prk4YscVlq16mhJxY+JjSlflCD5ojV0Y9maI1tYBI329cs6vaK8QfcoK933/CliR748KWEQC/7o8nzIJQZ+LRvh41kVOEdqqNC7GBKgexENqthhq438o9JshnbeGWak4/vyXhWo5r4Qwn6kcMDBMcF3mFGXl/AJLNvydu94f0xOf/vOVXHsF1LvSvUZwjWjOBzE2dZRQANTbCYlXhiz6o+BI5yyEcHqPqEyk1VlYCSAVziOBJUcyzoOJEunZycaV0PAWV+vyzwqxaRqWs7vfeipJ0RdqkIMBaKCSEJNcgaLM5r9ibYQ+m0LUaBN4/02baYnwKWxlbkZFp/j+0t8lAXoAA26wIOrD9lbbr81W2vBKucc9m8DzyCgo8ze6+h9nLrzApAbJtR+he7H8FwBbAXG3tJGAMvaLUyWI/NqX3U7wuNUML+4kqupS2cdiQbZWW"
	},
```

```
	{
		"kid": "z+TDJXxPDZk=",
		"timestamp": "2021-04-30T11:43:59+02:00",
		"country": "DE",
		"certificateType": "DSC",
		"thumbprint": "cfe4c3257c4f0d9939992f72fdbb21c88141e9fe2cb2929e1b54d3aa3d495e7b",
		"signature": "i8uFNTLb6xe4NFLcBtHfJmSA4EYUUPza/MiqOMipgwqaW9rIep5DrUjuye2mIsuylYZKO83LfxNVpJJWQbRfe5fAbx8o6/8HQ1bbMSww+ovQLFbs506iQINajS4uoHHOseE48QYoIX3M7hBeP4iVdKrkgpc1dZMhzzeRJTXNenxp4hECW6yjh6UDnSatbeXwiQaJCU2lj1rDRiwvbMdLYimtMS3u2NhRMk9EteOUsTJrorNl1YS7/Rny8XnrUNWb/Sev7fcqgAq4SIHXh650ctwe826rnZ/CqCBtuakkuNmgYnzH1hc8HTxk4H3E3a0P6p8sVtuP9NLHGhYkxzezDsaPTnGaZzkQO857oFFMo99u2au1UDfFiMTIOxvp3zgxKt0qZax3J0brKk0Rcq53/lOEbKTi3Kil3N3GuLJidI3NyUZgnrLtvfg1V3kkpFCaKcpEtxANHC7WEPppnLp74pDvBADYXqPnSmCRsNzxTJ2SLk0IXQhH9vjk3yTmRkOqT0+f9ClxlnJyXuqRFGy8ahzS5vS0zdXkv/9JGITkzRnZ+6LedNTAW9aVHRvo5b7A9Dm3p+R9UkdCzQA/C4yDOJ1VVeuVsrrxhs7qUR5zxWxwOd46uYhgPLz0EClnvWOBBSe3Da12KAiZdNVr01Bba0/8btfuvlT5PJ2ew7v/2LI=",
		"rawData": "MIIC2DCCAn6gAwIBAgIUGP8QgjaeOcmdq9WyRIJX8NcbQ7MwCgYIKoZIzj0EAwIwgZsxCzAJBgNVBAYTAkRFMQ8wDQYDVQQIDAZIZXNzZW4xGjAYBgNVBAcMEUZyYW5rZnVydCBhbSBNYWluMSUwIwYDVQQKDBxULVN5c3RlbXMgSW50ZXJuYXRpb25hbCBHbWJIMRowGAYDVQQLDBFEaWdpdGFsIFNvbHV0aW9uczEcMBoGA1UEAwwTVGVzdGluZyBUZWFtIChDU0NBKTAeFw0yMTA0MjkxMTMzMjZaFw0yMTA1MDkxMTMzMjZaMHExCzAJBgNVBAYTAkRFMR0wGwYDVQQIDBROb3RocmhpbmUgV2VzdHBoYWxpYTEOMAwGA1UEBwwFRXNzZW4xIDAeBgNVBAoMF1QtU3lzdGVtcyBJbnRlcm5hdGlvbmFsMREwDwYDVQQDDAhhcGktdGVzdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALRZGKP2cipPQZMO4c03WfaIEjLDM0/A9WCyQczbnVDNI3ojAJMVDJkz3mFy0rfqZ5o6m0dNP7LOZICnPA1lU5Q/+sgveXWLmSEG0EmJLwqOslhO6WfDvzLumfPxJe2K/2/QUmj7GmzHLoBceWNcnXzK3KhubtKxVRZDFB6lYiWincWMyaf+DaPXpFlAOvb+hoczyGKCkABI6/K+crSu5jCt/BPA0Y02ECLh99j5yN954eEpQfF3xZ8yumgRO0X12UxxgQ/h08A7+UxeTkqceIrupz6ozDtg/n0R2NZjz6ttebNB0CH9O2OHi6YLMSOAoTIyUcGOHA9lvK6gat9EXN8CAwEAATAKBggqhkjOPQQDAgNIADBFAiAy8/Wicz3/baa5ty8sqw5UfINfbTw2yWkoq9/N0LGkgQIhAItYVJGyUBh9cIx8DhBGMW40KWVLSbpCk3rt7kG8BuM4"
	},
```

```
	{
		"kid": "/VFkbIl2bMM=",
		"timestamp": "2021-05-05T16:44:59+02:00",
		"country": "LU",
		"certificateType": "AUTHENTICATION",
		"thumbprint": "fd51646c89766cc30693a2c784cccd9a9af2dd302910c9752b7b5a12e17c49a3",
		"signature": "MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgEFADCABgkqhkiG9w0BBwEAAKCAMIIFfTCCA2WgAwIBAgIUJ8CtkxI9naI+YXzmfkseyPgPleAwDQYJKoZIhvcNAQELBQAwTjELMAkGA1UEBhMCRVUxFzAVBgNVBAgMDkV1cm9wZWFuIFVuaW9uMRQwEgYDVQQKDAtUcnVzdEFuY2hvcjEQMA4GA1UECwwHVFNUIEVOVjAeFw0yMTA0MjIwODE1MjJaFw0zMTA0MjAwODE1MjJaME4xCzAJBgNVBAYTAkVVMRcwFQYDVQQIDA5FdXJvcGVhbiBVbmlvbjEUMBIGA1UECgwLVHJ1c3RBbmNob3IxEDAOBgNVBAsMB1RTVCBFTlYwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDXeyHnpLaxEDCdLhMIpyLRQcYULX8bGm1xoCjDaPOfNFonLPuTqiCF50POJsVlER6eDdw76nDhek07xKJYrzDx+KkT1M6RtYE0/xyKP/JaP6N/Jm9UI9jx5fJLmiTNLY803aU+zB2IHmbkGS5dybwjx3R+CLhtPNPeXC3GVGglmjotUwWMj+wHctNiwyIv86dijOlBZ/sJ3rAskjdz0iJBYUfjR0YUXC11CJ8NY+M6P2LAwBJ4Jquq06k2GmSfVnEIOao+PWY+qt4t2rZEJvOt2+4VGzwqwiuPMkUJwEAI/NB4/SMWKM+Exr2nwEtLAKuVk7Ps4QBI+pYOy06oFrNNRgG9zAac/ZlwG5cpRL6U31X6vfsngA1v86kz6Jm49RRHF/s7E9r7Qg1q7Lo4PzTXw6V4viy9L7y1Bp1Pgb01uv/YmoV+pq3QVWFpnFAcTIuBB23vTBfUE5y2BsIqUZAoG4szK/JPBQnpB3QgrGbMVs5V974BYdv5X7HygGkCj6+FLo4JoW4Hx0iZrWmB/ok/qR+YERG+byfvXnyr3Zl8Z5vOFIOFuy4HoZqPQTDmon+R3NCtk/lDLAdlDyYS6bslHyvKA8QRcNGF22fcIcgNYS3TB76EZTYZyEc6tnAx6dAox3Fac2vn/gzpaht5+c6T63a3hoXVx5Z3yde8raPWXwIDAQABo1MwUTAdBgNVHQ4EFgQUr2dvU0xW/hnNcbsDZqVK55essFAwHwYDVR0jBBgwFoAUr2dvU0xW/hnNcbsDZqVK55essFAwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAS6MId4eByoEV4q+31sCwQMHVAfX36Rx3ZN1bzsZaUD6xg8zcBHBLLkTsltiPKTSln9dsOLqoL4ITw6A7JZBqP0IQsRkKS1dmx0a86z10ol3nJ/3sIsNP0QynbbzgSTrtVannCqprX4HrEZODmvxrQ4I2sJHTiyJA2hDemrrr2FB+GaDmJHSzPglmuBQvosi6St3lv+QO9o/fvGHyBStgtfkCl1AW5fjUWI//NzALj8sbiWWwB9jDaWH1mFeqPdVbxIJrJh4n84TFAszywcLEnk0wehcS+U6OjP5ff8mJvsYchvTPvQRoDwE3opDxg9yb5TqyCuOyPnTVY0DPYYDuOLki/8963kcZmxg2wNhlJayl7mFtwG5zbvWxVuh8uQhfFLyXWZXKEliPgb5fYNZTdEOhAT5c3zBR1hdyucqWmnwEpBM7GOh+nnGfKYKrkZc7nT4rUL+2oeMI/VqKKvZXVJvVK6aAWgnXRslcJqoK1RfX/tTt/2UYuKsCGA3bqzhPXeGn7xfUPaEzF+jTD/D3R++1zF9LG62gzDDJT3Xsm087/xMD6sTTsxudLRJWxgg+D4JU8EdXaNJrVlVJKxWElK14boez3vVyLeSCjis3+6SiwHJzKXOMEtcGdZ9ZgCgxvdig2zWNAmdLKWX43ZbFfu8eQrA+uHs6kj3KH4gQ6dgAADGCAywwggMoAgEBMGYwTjELMAkGA1UEBhMCRVUxFzAVBgNVBAgMDkV1cm9wZWFuIFVuaW9uMRQwEgYDVQQKDAtUcnVzdEFuY2hvcjEQMA4GA1UECwwHVFNUIEVOVgIUJ8CtkxI9naI+YXzmfkseyPgPleAwDQYJYIZIAWUDBAIBBQCggZgwGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMjEwNTA4MDY1MDAyWjAtBgkqhkiG9w0BCTQxIDAeMA0GCWCGSAFlAwQCAQUAoQ0GCSqGSIb3DQEBCwUAMC8GCSqGSIb3DQEJBDEiBCD9UWRsiXZswwaToseEzM2amvLdMCkQyXUre1oS4XxJozANBgkqhkiG9w0BAQsFAASCAgAYqdovU2pFOmHZPBHuiHY6Jo+MlDXfGKtZkZl793jUZHCRBr4g5LSjKdM39hLPErT1nomWwiLmXJ+U3EzEKgdimgBvfW4ROT5r7/Qo0vcs7a9FY3FCyhhSRzQWNo4xtDzA8SrTpFwSZfHibWEpOak47RRVn33BBMxFXX804yzxkDX4yUU0iGdNPWiAyY8wijH0oKeGTvtoCkwD8GTMGDxZC6rPw3EVKQ1vahFAewYO42uiKAST+wYQPworh4Oph3T2HDc+SG32lKKRa00yKUA+jcxG0lhhAMgywmpkM5OtUwehBrPQRAgiTMeBpavjXCywS4enMixT3wl23i3DnNb4sMR3A6xt9HK+timc5WuPL38O5jKV7/d7oHn9ieV8mPXnU8LvvJ92GdOD8rg/tMEM9RbuxomX4O5F4qmzISsNIa5UUPKk1JfZ+T9I8nxApco14dpxN6VakoqtWWxbXA74eCcNwqtW0H/FUoRReTeIgKeF1ZSlnz7SC/noTalknYeqOTdeG5FpHcpRgybJ3PMoRClrzfFFXXzEnzNSfJUHoG3g5LFd14r0ZIdS/juf18msgbmlG2mmEFKjoZG++QHj3v+DmRnYRyhIrCthotl9Cm6lfrHBSYVbodSLZyFmoXeEhfYvTMbqGJvLJ77RVcan2yoZytbgM58gfffwfgs3NgAAAAAAAA==",
		"rawData": "MIIB8TCCAZegAwIBAgIUfMSD+z4BMEHJ4Enl0C6pN8LRgpUwCgYIKoZIzj0EAwIwTjELMAkGA1UEBhMCTFUxHTAbBgNVBAoMFElOQ0VSVCBwdWJsaWMgYWdlbmN5MSAwHgYDVQQDDBd0ZXN0Lm5hdGlvbmFsYmFja2VuZC5sdTAeFw0yMTA1MDUxMTAxMDVaFw0yMzA1MDUxMTAxMDVaME4xCzAJBgNVBAYTAkxVMR0wGwYDVQQKDBRJTkNFUlQgcHVibGljIGFnZW5jeTEgMB4GA1UEAwwXdGVzdC5uYXRpb25hbGJhY2tlbmQubHUwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAAT8mdXJ51h9De+8lePo2dY8rPDCKjPt6dyzdMEbhUy2WBaOQpIbEanYLnfS+/Pprhh+QZCdYvixb7OiO3/t6/XNo1MwUTAJBgNVHRMEAjAAMAsGA1UdDwQEAwIChDATBgNVHSUEDDAKBggrBgEFBQcDAjAiBgNVHREEGzAZghd0ZXN0Lm5hdGlvbmFsYmFja2VuZC5sdTAKBggqhkjOPQQDAgNIADBFAiB722+6tsTYjkMPd7jDMC4/Ct33aqT0Kse9Wia9Jo0knAIhALwqz2hc6oEX0TdmUUXi2qp6CIMvYMACxrcp7sCftwJB"
	},
```
and

```
	{
		"kid": "2Ga7nn3++CU=",
		"timestamp": "2021-05-12T12:28:38+02:00",
		"country": "CY",
		"certificateType": "DSC",
		"thumbprint": "d866bb9e7dfef8255345678cb5722057084424331c7efd8c0eced9b52739c09f",
		"signature": "MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgEFADCABgkqhkiG9w0BBwEAAKCAMIICbDCCAhKgAwIBAgIURWuo6N0RLfrkJ/DaZO0KYr6fRu0wCgYIKoZIzj0EAwIwgZMxCzAJBgNVBAYTAkNZMRAwDgYDVQQIDAdOaWNvc2lhMRAwDgYDVQQHDAdOaWNvc2lhMS0wKwYDVQQKDCROYXRpb25hbCBlSGVhbHRoIEF1dGhvcml0eSBvZiBDeXBydXMxFjAUBgNVBAsMDUlUIERlcGFydG1lbnQxGTAXBgNVBAMMEFVQTE9BRF9ER0NfQ1lfMDEwHhcNMjEwNTEwMDcwMzI3WhcNMjMwNTEwMDcwMzI3WjCBkzELMAkGA1UEBhMCQ1kxEDAOBgNVBAgMB05pY29zaWExEDAOBgNVBAcMB05pY29zaWExLTArBgNVBAoMJE5hdGlvbmFsIGVIZWFsdGggQXV0aG9yaXR5IG9mIEN5cHJ1czEWMBQGA1UECwwNSVQgRGVwYXJ0bWVudDEZMBcGA1UEAwwQVVBMT0FEX0RHQ19DWV8wMTBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABCFf0s8yXh7oSXaZKrGFEp8M6Jf8r/EjgLtNmZ07wJuCYDtnlDSJme43ERrsC5gzGQ491N5kPT65vDl1qylqO7GjQjBAMA8GA1UdEwEB/wQFMAMCAQAwDgYDVR0PAQH/BAQDAgeAMB0GA1UdDgQWBBQ/y+7LCYF6CqZGkM/ecYc10XB14zAKBggqhkjOPQQDAgNIADBFAiB+N59qtZwkqmWc/3Dl5gZMpbVrr8+u0+FY9MEQgBUsDAIhAL+NzoJpvG+waRjAN2eZ7d+TB6OlhuRrPp2Ed1LN94iWAAAxggH+MIIB+gIBATCBrDCBkzELMAkGA1UEBhMCQ1kxEDAOBgNVBAgMB05pY29zaWExEDAOBgNVBAcMB05pY29zaWExLTArBgNVBAoMJE5hdGlvbmFsIGVIZWFsdGggQXV0aG9yaXR5IG9mIEN5cHJ1czEWMBQGA1UECwwNSVQgRGVwYXJ0bWVudDEZMBcGA1UEAwwQVVBMT0FEX0RHQ19DWV8wMQIURWuo6N0RLfrkJ/DaZO0KYr6fRu0wCwYJYIZIAWUDBAIBoIHkMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTIxMDUxMjEwMjQ1N1owLwYJKoZIhvcNAQkEMSIEINhmu559/vglU0VnjLVyIFcIRCQzHH79jA7O2bUnOcCfMHkGCSqGSIb3DQEJDzFsMGowCwYJYIZIAWUDBAEqMAsGCWCGSAFlAwQBFjALBglghkgBZQMEAQIwCgYIKoZIhvcNAwcwDgYIKoZIhvcNAwICAgCAMA0GCCqGSIb3DQMCAgFAMAcGBSsOAwIHMA0GCCqGSIb3DQMCAgEoMAoGCCqGSM49BAMCBEYwRAIgCb+nI9Prsvylmsmdfn8n2ySopLnCVLbKd38900PZO/MCIHF2lA4OEyFBiCoHqzW8pY5a7FaSi8ZMzcOKh3bGgdjEAAAAAAAA",
		"rawData": "MIICHjCCAcQCFDtxKq28G7KiGukkC62ELU4BBvBbMAoGCCqGSM49BAMCMIGRMQswCQYDVQQGEwJDWTEQMA4GA1UECAwHTmljb3NpYTEQMA4GA1UEBwwHTmljb3NpYTEtMCsGA1UECgwkTmF0aW9uYWwgZUhlYWx0aCBBdXRob3JpdHkgb2YgQ3lwcnVzMRYwFAYDVQQLDA1JVCBEZXBhcnRtZW50MRcwFQYDVQQDDA5DU0NBX0RHQ19DWV8wMTAeFw0yMTA1MTIxMDIzMDZaFw0yMzA1MDIxMDIzMDZaMIGQMQswCQYDVQQGEwJDWTEQMA4GA1UECAwHTmljb3NpYTEQMA4GA1UEBwwHTmljb3NpYTEtMCsGA1UECgwkTmF0aW9uYWwgZUhlYWx0aCBBdXRob3JpdHkgb2YgQ3lwcnVzMRYwFAYDVQQLDA1JVCBEZXBhcnRtZW50MRYwFAYDVQQDDA1EU0NfREdDX0NZXzAxMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEPybvhD4bGNlyPCpz9aiIpnB09ceGEc4z1l5Q8CoQ3sMvXHM3n7+3zX4K7V16VNI09bH1rmCttVRtO8cN/JpG/TAKBggqhkjOPQQDAgNIADBFAiAufANVRuChmYz8oMJgjlFuNMlT3C5zys/gESMgrbdS8AIhAPLA6P1SJL7TdkbjtyRIqpvz1M+m9NJP919tcZ7xoJjP"
	},
```

@psavva Thanks for the report. We analyze it now. 

@psavva Do you have a QR code that exhibits this error? Would love to check if it's a problem on iOS as well. Thanks

@psavva I'm also confused by the error in the first place. A KID is a byte array, not a string. It can be represented internally as a b64 string, but that's not used in signature validation. We have public keys which are turned into a byte array KID, and we have COSE objects that reference these byte array KIDs. No string conversion needed to verify signatures.

Hi @yspreen,

First Question, here is a QR Code :)

![PositiveCovidDGC](https://user-images.githubusercontent.com/1454758/118122697-e11efe00-b3fb-11eb-95cc-d4bc34b59b56.PNG)

For the second question, as you know the KID is a byte array, that is OK, however in the Database, it's stored as Base64 Encoded in the Verifier service (assuming the same in the gateway).

When extracting the KID from the COSE, it's again converted to BASE64 to do the comparison.

So the issue is probably in the transmission from the gateway, storage in the verifier service and finally, how it's compared in the Android App (at least I could confirm it there until now)
 

Thanks for the QR Code. Here's what I observe on iOS:

- The code verifies successfully.
- The KID I receive from the Server is `"2Ga7nn3++CU="`
- The KID I generate on Swift is `"2Ga7nn3++CU="`
- If I make this change, it fails: https://github.com/eu-digital-green-certificates/dgca-app-core-ios/pull/26
- If I make this change and ignore the sanity check here, it works again: https://github.com/eu-digital-green-certificates/dgca-verifier-app-ios/blob/04bf2f060a6a86626dd121227d573b3e305b2bbe/DGCAVerifier/Services/GatewayConnection.swift#L70

And here is some more info if it may help you:

```
kid = {byte[8]@19036} 
 0 = -40
 1 = 102
 2 = -69
 3 = -98
 4 = 125
 5 = -2
 6 = -8
 7 = 37
```

`CoseData(cbor=[-92, 4, 26, 98, 124, -37, -75, 6, 26, 96, -100, -7, -75, 1, 98, 67, 89, 57, 1, 3, -95, 1, -92, 99, 118, 101, 114, 101, 49, 46, 48, 46, 48, 99, 110, 97, 109, -92, 98, 102, 110, 107, 70, 97, 109, 105, 108, 121, 32, 78, 97, 109, 101, 99, 102, 110, 116, 106, 70, 65, 77, 73, 76, 89, 78, 65, 77, 69, 98, 103, 110, 106, 71, 105, 118, 101, 110, 32, 78, 97, 109, 101, 99, 103, 110, 116, 105, 71, 73, 86, 69, 78, 78, 65, 77, 69, 99, 100, 111, 98, 106, 49, 57, 57, 48, 45, 48, 49, 45, 48, 49, 97, 116, -127, -85, 98, 116, 103, 105, 56, 52, 48, 53, 51, 57, 48, 48, 54, 98, 116, 116, 103, 65, 110, 116, 105, 103, 101, 110, 98, 110, 109, 104, 78, 65, 65, 32, 84, 101, 115, 116, 98, 109, 97, 99, 51, 52, 52, 98, 115, 99, 120, 24, 50, 48, 50, 49, 45, 48, 53, 45, 49, 50, 84, 50, 49, 58, 48, 48, 58, 48, 48, 46, 48, 48, 48, 90, 98, 100, 114, 120, 24, 50, 48, 50, 49, 45, 48, 53, 45, 49, 51, 84, 48, 57, 58, 51, 48, 58, 48, 48, 46, 48, 48, 48, 90, 98, 116, 114, 105, 50, 54, 48, 51, 55, 51, 48, 48, 49, 98, 116, 99, 120, 38, 85, 110, 105, 118, 101, 114, 115, 105, 116, 121, 32, 111, 102, 32, 67, 121, 112, 114, 117, 115, 32, 67, 111, 118, 105, 100, 32, 84, 101, 115, 116, 32, 67, 101, 110, 116, 114, 101, 98, 99, 111, 98, 67, 89, 98, 105, 115, 114, 77, 105, 110, 105, 115, 116, 114, 121, 32, 111, 102, 32, 72, 101, 97, 108, 116, 104, 98, 99, 105, 120, 39, 100, 103, 99, 105, 58, 86, 49, 58, 67, 89, 58, 66, 75, 84, 50, 65, 52, 79, 51, 67, 70, 83, 55, 71, 79, 84, 85, 73, 66, 57, 53, 83, 84, 84, 84, 76, 58, 56, 55], kid=[-40, 102, -69, -98, 125, -2, -8, 37])`


As I see it we should just use regular b64 and not URL safe b64. The verifier service should make the change

I think, whichever solution is adopted, it should be consistent amongst all the services and apps :)

Am I correct with this split?

URL Safe:
- Android App
- Web App

Regular b64:
- iOS
- Verifier Service
- Issuance Service

I can confirm that the Android App is URL Safe.

The Web App, as it's only storing the KID in byte format and not base 64, it makes no difference.
The Verification Service receives the DSC's KID in Regular b64 from the Gateway.
Issuance Service is Regular b64.
iOS, have not reviewed it.

It would probably be enough to modify the Verifier Apps to be Regular b64

Thank you @psavva ! You was right, after fixing base 64 encoding - issue disappeared as kid become correct

Closed with PR: https://github.com/eu-digital-green-certificates/dgca-app-core-android/pull/9